.gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: black;
    opacity:0.8;

}

.thumb {
    text-shadow: 2px 4px 6px rgb(71, 69, 69);
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    align-content: space-between;
        cursor: pointer;
}

.thumb>.title {
    display: block;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.thumb p.popiularity {
    margin: 0 !important;
    padding: 5px;
}

.thumb .overview {
    display: inline-block;
    max-width: 290px;
    line-height: 15px;
    font-size: 12px;
    height: 0px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    color: black;
}

.thumb:hover .overview {
    color: white;
    height: 60px;
} 



.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }





  .overlay {
      
    position: fixed;
    width: 50%;
    height: 50%;
    top: 10%;
    left: 40%;
    right: 0;
    bottom: 0;
    color: white;
   
    z-index: 2;

}

.top {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    /* 1px higher than the overlay layer */
}


#main{
    top: 40%;
    left: 30%;
}

#home{
    right: 0%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 22px;
    margin: 4px 2px;
    background-color: white; 
    color: #008CBA; 
    border: 1px solid #008CBA;
    width: 25%;
    border-radius: 3%;
    cursor: pointer;
   
  }
  
  #home:hover {
    background-color: rgb(14, 177, 231);
    color: white;
  }
